@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layoutjewellery.cshtml";
}



@section main
{		<!-- MODULE Home Featured Products -->
<ul id="header_user">
			
		
			<li id="your_account">&nbsp;&nbsp;<a href="/Account/Signup" title="Your Account">Registration</a>&nbsp;&nbsp;</li><!-- /Block user information module HEADER -->
		</ul>
    }


@section menu
{
 <div id="topmenu">
			 <ul class="sf-menu clearfix">
                <li><a href="/Admin/">Home</a>
				</li>
                <li><a href="/Admin/ViewAll">View All</a>
				</li>
				<li><a href="/Admin/Add">Add Product</a>
				</li>
                <li><a href="/Admin/Delete">Delete Product</a>
				</li>
                <li><a href="/Admin/Update">Update Product</a>
				</li>
                <li><a href="/Admin/Gallery">Gallery</a></li>
                

			</ul>
		</div>
    } 

  <div id="contents" style="float: right;width: 79%; height:500px;">
                

 
<div>
     <h2 style="margin-left: 30px;font-family: Calibri;color: black;font-size : 30px">Add Product:</h2>

 <!--- <form id="rgstrn" action="/Admin/Add" method="post" enctype="multipart/form-data"style="height: auto;width:600px;border: 1px solid #BBBBBB;margin-left: 50px;margin-top: 30px">         
        <table border="0" style="width:auto" style="margin-top: 50px;">
          
            <tr style="height: 50px">
                <td style="text-align: right;font-family:Calibri;font-size: 19px">Enter Product Name</td>
                <td><input type="text" name="uname" id="uname" style="height: 30px;width: 250px;margin-left: 10px"/></td>
                <td style="width: auto"><span style="font-family: Calibri; color: #218416; text-align: center"> <span class="field-validation-valid" data-valmsg-for="uname" data-valmsg-replace="true"></span></span> </td>
            </tr>

            <tr style="height: 50px">
                <td style="text-align: right;font-family:Calibri;font-size: 19px">Enter Product Price </td>
                <td><input type="text" id="price" name="price" style="height: 30px;width: 250px;margin-left: 10px"/></td>
                <td><span style="font-family: Calibri; color: #218416; text-align: center"><span class="field-validation-valid" data-valmsg-for="pass" data-valmsg-replace="true"></span></span> </td>

                </tr>
             <tr style="height: 50px">
                <td style="text-align: right;font-family:Calibri;font-size: 19px">Enter Product Quantity </td>
                <td><input type="text" name="quan" id="quan" style="height: 30px;width: 250px;margin-left: 10px"/></td>
                <td><span style="font-family: Calibri; color: #218416; text-align: center"><span class="field-validation-valid" data-valmsg-for="pass" data-valmsg-replace="true"></span></span> </td>

               </tr>  
             <tr><td style="text-align: right;font-family:Calibri;font-size: 19px">Category:  </td>
                 <td> 
              <select id="category" name="category" style="height: 30px;width: 250px;margin-left: 10px"/>
              <option  value="ring">Ring</option>
              <option  value="neck">Necklaces</option>
              <option  value="brac">Bracelets</option>
            
              </select></td></tr>!
                
             <tr style="height: 50px">
                <td style="text-align: right;font-family:Calibri;font-size: 19px">Upload Image</td>
                <td><input type="file" name="file"  style="height: 30px;width: 250px;margin-left: 10px"/></td>
                <td><span style="font-family: Calibri; color: #218416; text-align: center"><span class="field-validation-valid" data-valmsg-for="pass" data-valmsg-replace="true"></span></span> </td>
             
   <tr style="height: 30px">
                <td colspan="3"><button style="color:blue; margin-left:150px"><input type="submit" value="Add Product" style="height: 30px;color:black;width: 110px;margin-left: 10px;font-size: 20px"/></button>
              </td>
      </tr> 
            </table>
             </form>  

    <h2>Index</h2>!--->
    <br /><br />
@using (Html.BeginForm("Add1", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label style="text-align: right;font-family:Calibri;font-size: 19px">Enter Product Name</label>
    <input type="text" name="Name" id="uname" style="height:30px;background-color:white;width: 250px;margin-left: 30px"> <br />
    <br />
    <label style="text-align: right;font-family:Calibri;font-size: 19px">Enter Product Price</label>
     <input type="text" id="Amount" name="Amount" style="height: 30px;;background-color:white;width: 250px;margin-left: 40px"/><br />
    <br />
    <label style="text-align: right;font-family:Calibri;font-size: 19px">Enter Product Quantity</label>
    <input type="text" name="Qunatity" id="quan" style="height: 30px;;background-color:white;width: 250px;margin-left: 15px"/><br />
    <br />
    <label style="text-align: right;font-family:Calibri;font-size: 19px">Select Category :</label>
     <select id="category" name="Category" style="height: 30px;;background-color:white;width: 250px;margin-left: 60px">
              <option  value="ring">Ring</option>s
              <option  value="neck">Necklaces</option>
              <option  value="brac">Bracelets</option>
       </select>
            <br />
             <br />
         
      <input type="file" name="file" style="height: 30px;;background-color:white;width: 250px;margin-left: 100px" /><br />
   <button style="font-size:20px;text-align:center"> <input type="submit" value="Add Product" style="text-align: center;font-family:Calibri" /></button>

}

      
</div>
           
<br />
