@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layoutjewellery.cshtml";
}
<link rel="stylesheet" href="~/Content/layout.css" type="text/css" />
    <link href="~/Content/featured_slide.css" rel="stylesheet" />
    <link href="~/Content/forms.css" rel="stylesheet" />
    <link href="~/Content/loginslider.css" rel="stylesheet" />
    <link href="~/Content/navi.css" rel="stylesheet" />
    <link href="~/Content/tables.css" rel="stylesheet" />
     <script type="text/javascript" src="~/Scripts/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.slidepanel.setup.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.cycle.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.cycle.setup.js"></script>
     <script type="text/javascript" src="~/Scripts/jquery.fancybox-media.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.fancybox-thumbs.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.fancybox.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.fancybox.pack.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.mousewheel-3.0.6.pack.js"></script>
        <link href="~/Content/jquery.fancybox-buttons.css" rel="stylesheet" type="Images/x-icon" />
        <link href="~/Content/jquery.fancybox.css" rel="stylesheet"  type="Images/x-icon"/>
        <link href="~/Content/jquery.fancybox-thumbs.css" rel="stylesheet" type="Images/x-icon"/>
@section main
{		<!-- MODULE Home Featured Products -->
<ul id="header_user">
			
			<li id="user_info">	Welcome(&nbsp; <a class="login" href="/Account/Login">Log Out</a>&nbsp;)</li>
    </ul>    }


@section menu
{
 <div id="topmenu">
			<ul class="sf-menu clearfix">
				 
			<ul class="sf-menu clearfix">
                <li><a href="/Admin/">Home</a>
				</li>
                <li><a href="/Admin/ViewAll">View All</a>
				</li>
				<li><a href="/Admin/Add">Add Product</a>
				</li>
                <li><a href="/Admin/Delete_Prod">Delete Product</a>
				</li>
                <li><a href="/Admin/Update_Prod">Update Product</a>
				</li>
                <li><a href="/Admin/Gallery">Gallery</a></li>
                

			</ul>
			</ul>
		</div>
    }
@foreach(var x in ViewBag.X)
{
 
<a class="fancybox" href="~/Uploads/images/@x.imagee" alt="">
      <img src="~/Uploads/images/@x.imagee" alt=""/></a>
}

     
<script type='text/javascript'>
$(document).ready(function() {
	/* This is basic - uses default settings */
	$("a#single_image").fancybox();
	
	/* Using custom settings */
	$("a#inline").fancybox({
		'hideOnContentClick': true
	});

	/* Apply fancybox to multiple items */
	$("a.group").fancybox({
		'transitionIn'	:	'elastic',
		'transitionOut'	:	'elastic',
		'speedIn'		:	600, 
		'speedOut'		:	200, 
		'overlayShow'	:	false
	});
});
</script> 
<script>
    // Activate fancyBox
    $(".fancybox")
        .attr('rel', 'gallery')
        .fancybox({
            padding: 0
        });

 </script>
       <script>
           // Launch fancyBox on first element
           $(".fancybox").eq(0).trigger('click');
    </script>

   
