
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutJewell1.cshtml";
}


@section main
{		<!-- MODULE Home Featured Products -->
<ul id="header_user">
			<li id="shopping_cart">
				<a href="/Home/AddToCart" title="Your Shopping Cart">Cart:
					<span class="hidden">0</span>
					<span class="hidden">product</span>
					<span class="hidden">products</span>
					<span class="">(empty)</span>
				</a>
			</li>
            <li id="subscribe">&nbsp;&nbsp;<a href="/Home/Subscribe" title="subcribe">Subsrcibe</a>&nbsp;&nbsp;</li><!-- /Block user information module HEADER -->

		
			<li id="user_info">	Welcome(&nbsp; <a class="login" href="/Account/Login">Log in</a>&nbsp;)</li>
			<li id="your_account">&nbsp;&nbsp;<a href="/Account/Signup" title="Your Account">Registration</a>&nbsp;&nbsp;</li><!-- /Block user information module HEADER -->
		</ul>
    }


@section menu
{
 <div id="topmenu">
			<ul class="sf-menu clearfix">
				
                <li><a href="/Home/">Home</a></li>
                <li><a href="/Home/ViewAll">ViewAll</a></li>
                <li><a href="/Home/Gallery">Gallery</a></li>
                <li><a href="/Home/About">About Us</a></li>
                <li><a href="/Home/Contact">Contacts</a></li>
			</ul>
		</div>
    }

<div id="tmnivoslider"> 
			<div id="slider">
                
				<img src="~/images/slide_01.jpg" alt="" title="#htmlcaption1" />
			</div>	
    </div>

<table>
@foreach(var x in ViewBag.X)
{ 
    <tr>  <td>    <img src="~/Uploads/images/@x.imagee" alt="" width="40%" height="40%"/></td>
                   <td>
                <table style="margin-right:400px">
       
              <tr> <td> <p>ID :</p></td> <td><p>@x.PId</p></td></tr> 

                <tr><td><p> Name :</p></td><td><p>@x.Name</p></td></tr>
               <tr><td><p>  Price :</p></td><td><p>@x.Amount</p></td>  </tr>
               <tr><td><p>  Quantity:</p></td><td><p>@x.Qunatity</p></td></tr>
                   
                 
                
             </table>
                       </td></tr>
  
      
}
    </table>
         
    
