@model Online_Jewellery_Storee.Models.Customer
@{
    ViewBag.Title = "LoginCustomer";
    Layout = "~/Views/Shared/_Layoutjewellery.cshtml";
}


@section main
{		<!-- MODULE Home Featured Products -->
<ul id="header_user">
			
					<li id="shopping_cart">
				<a href="/Home/AddToCart" title="Your Shopping Cart">Cart:
					<span class="hidden">0</span>
					<span class="hidden">product</span>
					<span class="hidden">products</span>
					<span class="">(empty)</span>
				</a>
			</li>
			<li id="your_account">&nbsp;&nbsp;<a href="/Account/Signup" title="Your Account">Registration</a>&nbsp;&nbsp;</li><!-- /Block user information module HEADER -->
	<li id="account1">&nbsp;&nbsp;<a href="/Account/Signup" title="Your Account">Subscribe</a>&nbsp;&nbsp;</li><!-- /Block user information module HEADER -->
			
    </ul>
    }


@section menu
{
 <div id="topmenu">
			<ul class="sf-menu clearfix">
				
                <li><a href="/Home/">Home</a></li>
                <li><a href="/Home/ViewAll">ViewAll</a></li>
                <li><a href="/Home/Gallery">Gallery</a></li>
                <li><a href="/Home/About">About Us</a></li>
                <li><a href="/Home/Contact">Contacts</a></li>
			</ul>
		</div>
    }
               

 
<div>
     <h2 style="margin-left: 30px;font-family: Calibri;color: black;font-size : 30px">Login Info</h2>
    <br /><br />
    @using(Html.BeginForm("LoginCustomer", "Account", FormMethod.Post))
    {
      
          <fieldset>
             <legend></legend>
              <div class="search_query" >
              @Html.LabelFor(model=>model.Name)
                  </div>
              <div class="search_query" id="name" style="height:30px;background-color:white">
                  @Html.EditorFor(model=>model.Name)
                  
                  </div>

              <div class="editor-label" >
              @Html.LabelFor(model=>model.Password)
                  </div>
              <div class="editor-field" id="pass"style=" height:30px;background-color:white">
                 
                  @Html.PasswordFor(model=>model.Password)
                  </div>
               <p>
            <button><input type="submit" value="Login"  /></button>
        </p>
    </fieldset>
    }
     </div>
           
<br />
<br />
