
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layoutjewellery.cshtml";
}

@section main
{		<!-- MODULE Home Featured Products -->
<ul id="header_user">
			<li id="shopping_cart">
				<a href="/Home/AddToCart" title="Your Shopping Cart">Cart:
					<span class="hidden">0</span>
					<span class="hidden">product</span>
					<span class="hidden">products</span>
					<span class="">(empty)</span>
				</a>
			</li>
    
			
    <li id="your_account">&nbsp;&nbsp;<a href="/Home/Index" title="Your Account">Logout</a>&nbsp;&nbsp;</li><!-- /Block user information module HEADER -->

            <li id="subscribe">&nbsp;&nbsp;<a href="/Home/Subscribe" title="subcribe">Subsrcibe</a>&nbsp;&nbsp;</li><!-- /Block user information module HEADER -->
    
           
		</ul>
    }
@section menu
{
 <div id="topmenu">
			<ul class="sf-menu clearfix">
				
                <li><a href="/Home/">Home</a></li>
                <li><a href="/Home/ViewAll">ViewAll</a></li>
                <li><a href="/Home/Gallery">Gallery</a></li>
                <li><a href="/Home/About">About Us</a></li>
                <li><a href="/Home/Contact">Contacts</a></li>
			</ul>
		</div>
    }r /><br>
 <p style="font-family: Verdana;margin-left: 150px;font-size: 20px"> <span style="color: black;font-family: 'Comic Sans MS';font-size: 25px">Online Jewellery Store :</span><br /> </p>

<p style="font-size: 20px">Online Jewellery Store is a best way to discover the new things around you.. To find out the rates and to buy things on resonable price. is one of the passions of people.
     They spend much time in selecting an item before buying.
     People try to judge an item according to their needs and expectations, 
     Online shopping is now often the best and easiest way to find what you want. E-shopping has over the past five years, gained immense popularity. It is much more convenient than walking around all the malls. The market for jewellery is no exception. It is a paradise jewellery line for women to concentrate and read the contents. The players most famous brands and big screen their points fabulous online stores that must cost a fortune. However, there are a large number of custom hand-made jewellery from leading designers and goldsmiths available.
     You can often order a unique piece and it will be designed according to your tastes and trends most in vogue. </p>

    
<br />
    <br />
		
				
				