@{
    ViewBag.Title = "Subscribe";
    Layout = "~/Views/Shared/_Layoutjewellery.cshtml";
}
	<div>
     <h2 style="margin-left: 30px;font-family: Calibri;color: black;font-size : 30px">Subscription For NewsLetter</h2>

  <form id="rgstrn" action="" method="post" style="height: auto;width:600px;border: 1px solid #BBBBBB;margin-left: 50px;margin-top: 30px">         
        <table border="0" style="width:auto" style="margin-top: 50px;">
            <tr style="height: 50px">
                <td style="text-align: right;font-family:Calibri;font-size: 19px">Enter Email ID</td>
                <td><input type="text" name="email" style="height: 30px;width: 250px;margin-left: 10px"/></td>
                <td style="width: auto"><span style="font-family: Calibri; color: #218416; text-align: center"> <span class="field-validation-valid" data-valmsg-for="uname" data-valmsg-replace="true"></span></span> </td>
            

 
                <td colspan="3"><button style="color:blue"><input type="submit" value="Subscribe" style="height: 30px;color:black;width: 100px;margin-left: 10px;font-size: 20px"/></button>
              </td>
        </tr> 
            </table>
</form>
    
</div>
						
			
                </div>
        </div>
    <br />
    <br />
    <br />
