@model List<Online_Jewellery_Storee.Models.Order>
@{
    ViewBag.Title = "vieworder";
    Layout = "~/Views/Shared/_Layoutjewellery.cshtml";
}

@section main
{		<!-- MODULE Home Featured Products -->
<ul id="header_user">
			<li id="shopping_cart">
				<a href="/Cart/vieworder" title="Your Shopping Cart">Cart:
					<span class="hidden">0</span>
					<span class="hidden">product</span>
					<span class="hidden">products</span>
					<span class=""></span>
				</a>
			</li>
    
			
    <li id="your_account">&nbsp;&nbsp;<a href="/Home/Index" title="Your Account">Logout</a>&nbsp;&nbsp;</li><!-- /Block user information module HEADER -->

            <li id="subscribe">&nbsp;&nbsp;<a href="/Home/Subscribe" title="subcribe">Subsrcibe</a>&nbsp;&nbsp;</li><!-- /Block user information module HEADER -->
    
           
		</ul>
    }
@section menu
{
 <div id="topmenu">
			<ul class="sf-menu clearfix">
				
                <li><a href="/Home/">Home</a></li>
                <li><a href="/Home/viewallproducts">ViewAll</a></li>
                <li><a href="/Home/Gallery">Gallery</a></li>
                <li><a href="/Home/About">About Us</a></li>
                <li><a href="/Home/Contact">Contacts</a></li>
			</ul>
		</div>
    }

@if(Model!=null)
{
 foreach(var x in Model)
 {
			<div class="body">
				<div id="content">

					<div>
						<ul>
							<li>
                                
								@*<img src="~/Uploads/images/@x.imagee" alt="Image" width="130" height="150" />
                                 *@   
								    <div class="extra-wrap" >
                                            	
                                                <p class="p1">Quantity: @x.Quantity</p>
                                                <p class="p1">Price: Rs: @x.Amount</p>
                                                

                                                
                                                    
                                                    @using (Html.BeginForm("DeleteItem", "Cart",FormMethod.Post))
                                                    {
                                                        @Html.Hidden("id", @x.PId);
                                                       <button type="submit" value="Remove">Remove</button>
                                                    }

                                                     
                                                 
                                            </div>

							</li>
						</ul>
					</div>
				</div>
			</div>
                                }
                                }
