@{
    ViewBag.Title = "Braceletes";
    Layout = "~/Views/Shared/_Layoutjewellery.cshtml";
}
 <div id="featured_products">
			<h4>Brecelets</h4>

			<div class="block_content">
                	<ul>
     <li class="">
						<a class="product_image" href="product.html" title="14K White Gold Diamond Wedding Band">
							<img src="~/images/1221.jpg" alt="14K White Gold Diamond Wedding Band" />
						</a>
						
						<div>
							<!--<h5><a class="product_link" href="index.php?id_product=4&controller=product&id_lang=1" title="14K White Gold Diamond...">14K White Gold Diamond...</a></h5>-->
							<p class="product_desc">
								<a class="product_descr" href="product.html" title="More">Ancients believed that precious stones have always had some...</a>
							</p>
							<span class="price">$928.96</span>
							<a class="exclusive" href="" title="Add to cart">Add to cart</a>
						</div>
					</li>
					
					<li class="">
						<a class="product_image" href="product.html" title="14k Yellow Gold Cluster Ring">
							<img src="~/images/22new.jpg" alt="14k Yellow Gold Cluster Ring" />
						</a>
						<div>
							<!--<h5><a class="product_link" href="index.php?id_product=5&controller=product&id_lang=1" title="14k Yellow Gold Cluster Ring">14k Yellow Gold...</a></h5>-->
							<p class="product_desc">
								<a class="product_descr" href="product.html" title="More">There are two types of jewelry - stones and metals. Obviously...</a>
							</p>
							<span class="price">$428.96</span>					
							<a class="exclusive" href="" title="Add to cart">Add to cart</a>
						</div>
					</li>
					
					<li class="ajax_block_product">
						<a class="product_image" href="product.html" title="14K Yellow Gold Green Radiant Cut CZ Ring">
							<img src="~/images/watch.jpg" alt="14K Yellow Gold Green Radiant Cut CZ Ring" />
						</a>
						<div>
							<!--<h5><a class="product_link" href="index.php?id_product=6&controller=product&id_lang=1" title="14K Yellow Gold Green Radiant...">14K Yellow Gold Green...</a></h5>-->
							<p class="product_desc">
								<a class="product_descr" href="product.html" title="More">Obviously both of them are unique because of their appearance....</a>
							</p>
							<span class="price">$428.96</span>
							<a class="exclusive" href="" title="Add to cart">Add to cart</a>
						</div>
					</li>
					
					<li class="">
						<a class="product_image" href="product.html" title="14k Yellow Gold Praying Hands Charm">
							<img src="~/images/377.jpg" alt="14k Yellow Gold Praying Hands Charm" />
						</a>
						<div>
							<!--<h5><a class="product_link" href="index.php?id_product=7&controller=product&id_lang=1" title="14k Yellow Gold Praying Hands...">14k Yellow Gold...</a></h5>-->
							<p class="product_desc">
								<a class="product_descr" href="product.html" title="More">It seems that our fanatic desire to have jewelry is the result...</a>
							</p>
							<span class="price">$632.15</span>					
							<a class="exclusive" href="" title="Add to cart">Add to cart</a>
						</div>
					</li>
					</ul>
                
                </div>
        
        </div>
   
 </div>
           
<br />
<br />
