@{
    ViewBag.Title = "Necklaces";
    Layout = "~/Views/Shared/_Layoutjewellery.cshtml";
}

 <div id="featured_products">
			<h4>Necklaces</h4>

			<div class="block_content">
                	<ul>
     <li class="">
				<li class="">
						<a class="product_image" href="product.html" title="14K Yellow Gold Princess Diamond 4-Prong Stud Earrings">
							<img src="~/images/neck.jpg"
                                .jpg" alt="14K Yellow Gold Princess Diamond 4-Prong Stud Earrings" />
						</a>
						<div>
							<!--<h5><a class="product_link" href="index.php?id_product=8&controller=product&id_lang=1" title="14K Yellow Gold Princess...">14K Yellow Gold...</a></h5>-->
							<p class="product_desc">
								<a class="product_descr" href="product.html" title="More">Remember that barbarians liked all shiny and bright things...</a>
							</p>
							<span class="price">$640.25</span>					
							<span class="exclusive">Add to cart</span>
						</div>
					</li>		
						
				
					</ul>
                </div>
        </div>
    <br />
    <br />
    <br />
