@{
    ViewBag.Title = "Ring";
    Layout = "~/Views/Shared/_Layoutjewellery.cshtml";
}

	
    <div id="featured_products">
			<h4>Rings</h4>

			<div class="block_content">
                	<ul>
     <li class="">
				<a class="product_image" href="product.html" title="10k White Gold Black and White Diamond Ring">
							<img src="~/images/1.jpg" alt="10k White Gold Black and White Diamond Ring" />
						</a>
						<div>
							<!--<h5><a class="product_link" href="" title="10k White Gold Black and...">10k White Gold Black...</a></h5>-->
							<p class="product_desc">
								<a class="product_descr" href="product.html" title="More">Precious metals have always been a detector of prosperity and...</a>
							</p>
							
							<span class="price">$116.06</span>					
							
							<a class="exclusive" href="" title="Add to cart">Add to cart</a>
						</div>
					</li>
					
					<li class="">
						<a class="product_image" href="product.html" title="14k Two Tone Gold 6.0mm Wedding Band">
							<img src="~/images/2.jpg" alt="14k Two Tone Gold 6.0mm Wedding Band" />
						</a>
						
						<div>
							<!--<h5><a class="product_link" href="index.php?id_product=2&controller=product&id_lang=1" title="14k Two Tone Gold 6.0mm...">14k Two Tone Gold...</a></h5>-->
							<p class="product_desc">
								<a class="product_descr" href="product.html" title="More">Just remember that jewelry was always a very inaccessible good...</a>
							</p>
							<span class="price">$628.96</span>					
							<a class="exclusive" href="" title="Add to cart">Add to cart</a>
						</div>
					</li>
					
					<li class="">
						<a class="product_image" href="product.html" title="14k White Gold Diamond Sapphire Ring"><img src="~/images/3.jpg" />
                      </a>
						
						<div>
							<!--<h5><a class="product_link" href="index.php?id_product=3&controller=product&id_lang=1" title="14k White Gold Diamond...">14k White Gold Diamond...</a></h5>-->
							<p class="product_desc">
								<a class="product_descr" href="product.html" title="More">Only kings and emperors, priests and pirates could own the...</a>
							</p>
							<span class="price">$386.06</span>					
							<a class="exclusive" href="" title="Add to cart">Add to cart</a>
						</div>
					</li>		
				</ul>
                </div>
        </div>
    </div>
           
<br />
<br />
